{% extends 'mailings/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        Название рассылки: {{ object.name }}</h4>
                </div>
                <div class="card-body">
                      <table class="table">
                            <tr>
                                <td>Тема сообщения: {{ object.message}}</td>
                             </tr>
                             <tr>
                                <td>Владелец рассылки: {{ object.owner }}</td>
                             </tr>
                                <td> Дата начала рассылки: {{ object.start_datetime_mailing }}</td>
                              <tr>
                                <td> Дата завершения рассылки: {{ object.stop_datetime_mailing }}</td>
                              </tr>
                             <tr>
                                <td>Периодичность отправки: {{ object.mailing_period }}</td>
                             </tr>
                            <tr>
                                <td>Статус процесса: {{ object.mailing_status }}</td>
                             </tr>
                             <tr>
                                <td>Адресаты рассылки: {{ object.clients.all }} </td>
                             </tr>
                        </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
