{%  extends 'mailings/base.html'%}
{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header"><h3 class="card-title">Статистика по работе с рассылками</h3></div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Количество созданных рассылок: </td>
                            <td>{{ mailing_count }}</td>
                        </tr>
                        <tr>
                            <td>Количество активных рассылок: </td>
                            <td>{{ active_mailing_count }}</td>
                        </tr>
                        <tr>
                            <td>Количество адресатов для рассылок: </td>
                            <td>{{ unique_clients_count }}</td>
                        </tr>
                    </table>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header"><h3 class="card-title">Самое важное сегодня в блоге:</h3></div>
                <div class="card-body">
                    {% for object in random_posts %}
                        {{ object.title }}
                        {{ object.body }}
                    {% endfor %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}